body {
    background:url("") no-repeat;
    text-align: center;
  }
  #startBtn {
      top: 400px;
      left: 250px;
      width: 200px;
      height: 50px;
  }

  #user-word {
    margin: 0;
    display: block;
    padding: 0;
    display: block;
  }
  #my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;
  }

  .letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
  }

  .letter-button-color {
    color: darkcyan;
  }

  .guessedLetter-color {
    color: orange;
  }

  #display {
    margin-top: 78px;
    height: 500px;
    width: 220px;
    margin-left: 60px;
  }

  #buttons {
    padding-top: 60px;
  }

  #reset {
    margin-left: 20px;
    font-size: 25px;
    color: black;
    background: green;
    border-style: solid;
    width: 100px;
  }