* {
    box-sizing: border-box;
    text-align: center;
    font-family: fantasy;
    color: white;
    background: black;
}
body {
    font-family: sans-serif;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container {
    border-style: double;
    border-width: 15px;
    padding: 10px;
}
